@import url('https://fonts.googleapis.com/css2?family=Sintony:wght=500&family=Inter:wght=800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@342;473;652;900&display=swap');

html {
	font-size: 93.8%;
}

body {
	font-family: 'Commissioner', sans-serif;
	font-weight: 342;
	letter-spacing: 0.04rem;
	margin: 0;
	line-height: 1.62;
	color: hsla(204, 47%, 12%, 1);
}

p {
	margin-bottom: 1rem;
	letter-spacing: 0.04rem;
	font-weight: 342;
	color: hsla(204, 47%, 12%, 1);
}

h1 {
	margin-top: 0;
	font-size: 5.005rem;
	font-weight: 900;
	line-height: 0.98;
	letter-spacing: -0.04rem;

}

h2,
h3,
h4,
h5 {
	margin: 1rem 1.38rem;
	font-family: 'Commissioner', sans-serif;
	line-height: 1.62;
	font-weight: 342;
	letter-spacing: 0.04rem;
}

h2 {
	font-size: 3.627rem;
	font-weight: 652;
}

h3 {
	font-size: 2.628rem;
}

h4 {
	font-size: 1.904rem;
}

h5 {
	font-size: 1.38rem;
}

small,
.text_small {
	font-size: 0.725rem;
	font-weight: 652;
	letter-spacing: 0.057rem;

}



a {
	color: inherit;
}


.contentBg {
	background: repeating-linear-gradient(104deg,
			hsla(204, 47%, 75%, 0.48) 0.38rem,
			hsla(52, 42%, 71%, 0.48),
			hsla(52, 42%, 71%, 0.48) 0.52rem,
			hsla(204, 47%, 75%, 0.48) 0.38rem);
	box-shadow: 0 0.72rem 1.38rem -0.28rem #d6dbc5ff;
}